class Config {

    constructor() {
        this.Token = "xxxxxxxxxxxxxxxxxxxxxxxxx";
        this.Prefix = "k!";
        this.Status = "status i guess";

        this.commandDirectory = "./commands";

        this.Help = {
            Core: ["help"]
        }
    }
}

module.exports = Config;
